<section class="modalbox" [hidden]="isHidden" xmlns="http://www.w3.org/1999/html">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content [formGroup]="myFormModel" class="mat-dialog" method="post">
    <form [formGroup]="myFormModel">
      <div id="nameId">
      <fieldset class="input-fieldset">
        <label class="input-label">Name of product</label>
        <mat-form-field appearance="fill">
          <input  matInput type="text" placeholder="Insert a name" required formControlName="nameOfProductInput">

          <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors.nameOfProduct!== undefined">
            <span class="text text-danger"> {{validationErrors.nameOfProduct[0] }}</span>
          </div>
        </mat-form-field>
      </fieldset>

      <fieldset class="input-fieldset">
        <label class="input-label">Type</label>

        <select #type class="select" [value]="typeProduct" (change)="toggleStocksOfProduct(type.value)" required formControlName="typeInput">
          <option value="commodity">commodity</option>
          <option value="service">service</option>

        </select>
      </fieldset>

        <fieldset class="input-fieldset">
          <label class="input-label">Unit</label>
        <select class="select"  required  [value]="unitProduct"   formControlName="unitInput">
          <option value="pc">pc.</option>
          <option value="kg">kg</option>
          <option value="t">t</option>
          <option value="m">m</option>
          <option value="m2">m2</option>
          <option value="m3">m3</option>
          <option value="service">service</option>
          <option value="page">page</option>
        </select>
        </fieldset>


        <fieldset class="input-fieldset">
          <label class="input-label"> Code of product</label>
          <mat-form-field appearance="fill">
            <input matInput type="text" required placeholder="Insert a code of product" formControlName="codeInput">
          </mat-form-field>

         <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors.code !== undefined">
          <span class="text text-danger"> {{validationErrors.code[0] }}</span>
          </div>
         </fieldset>
      </div>

      <div id="priceId">
        <fieldset class="input-fieldset">
          <label class="input-label">Net Worth</label>
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Insert a net worth" (change)="setGrossValue(vatRate.value)" required formControlName="netWorthInput">
          </mat-form-field>

          <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors.netWorth !== undefined" >
            <span class="text text-danger"> {{validationErrors.netWorth[0] }}</span>
          </div>

        </fieldset>

        <fieldset class="input-fieldset">
          <label class="input-label">Vat Rate</label>
          <select #vatRate  class="select" [value]="vatValue"   (change)="setGrossValue(vatRate.value)" required formControlName="vatRateInput">
            <option value="23" [selected]="23">23%</option>
            <option value="8">8%</option>
            <option value="5" >5%</option>
            <option value="0">0%</option>
          </select>
        </fieldset>

        <fieldset class="input-fieldset">
          <label class="input-label">Gross Value</label>
          <mat-form-field appearance="fill">
            <input #inputElement  matInput  placeholder="Insert a gross value" required formControlName="grossValueInput">
          </mat-form-field>

          <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors.grossValue !== undefined">
            {{validationErrors.grossValue[0]}}

          </div>
        </fieldset>
      </div>
    </form>


  </mat-dialog-content>

  <div mat-dialog-actions [align]="'end'" class="button-group">
    <button mat-raised-button  class="mat-raised-button btn-lg" type="submit" (click)="saveProduct()">Submit</button>
    <button mat-raised-button (click)="closeDialog()">Close </button>
  </div>

</section>

