@import 'src/styles.scss';

@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';


#nameId {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

#priceId {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}


.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

mat-form-field {
  width: 220px;
}


.input-fieldset {
  margin-bottom: $gutter*3;
  margin-right: $gutter*5;
}

.mat-dialog {
  label {
    font-size: $font-size-5;
    text-transform: uppercase;
    display: block;
  }
}

mat-label {
  font-size: $font-size-5;
  text-transform: uppercase;
  display: block;
}



td {
  position: relative;
  width: 30px;
  min-width: 30px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}
.bi-bi-x-circle {
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  color: black;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}



.button-group {

  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
}

table {
  padding: 2em;
  flex-wrap: wrap;
  margin-top: $grid-base*3;

}


.modalbox {
  min-width: 800px;
  max-width: 1000px;
  min-height: 400px;
  max-height: 800px;
  overflow-y: visible;

}



