
<section id="contractors">

  <div class="sk-sidebar">
    <ul class="nav flex-column text-uppercase">
      <li class="nav-item">
        <a class="nav-link sk-header-item-link"  (click)="openDialog('add')">Create a Contractor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link"  (click)="openDialog('edit')">Modify a Contractor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link" (click)="deleteContractor()">Delete a Contractor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link"></a>
      </li>
    </ul>
  </div>

  <div class ="table-container">
    <ng-container *ngIf="contractorsList$ !== null; else NoContractors">
      <p [ngStyle]="{color: getColor()}"></p>
      <table class="table table-striped">
        <thead>
        <tr input class="form-check-input me-1" type="checkbox" value="" aria-label="..."  class="table-primary">
          <th scope="row"> # </th>
          <th scope="row">Lp</th>
          <th scope="row">Name</th>
          <th scope="row">VAT identification number</th>
          <th scope="row">Street</th>
          <th scope="row">Street number</th>
          <th scope="row">Post code</th>
          <th scope="row">City</th>
          <th scope="row">Country</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let contractor of contractorsList$ | async;let i = index;">

          <input #self class="form-check-input" type="checkbox"  [value]="contractor.id" id="contractorIdInput" (change)="changeCheckboxList(self)">

          <th scope="row">{{(page-1) * size + i+1}}</th>
          <td>{{contractor.name}}</td>
          <td>{{contractor.vatIdentificationNumber}}</td>
          <td>{{contractor.address.street}}</td>
          <td>{{contractor.address.streetNumber}}</td>
          <td>{{contractor.address.postcode}}</td>
          <td>{{contractor.address.city}}</td>
          <td>{{contractor.address.country}}</td>
        </tr>
        </tbody>

      </table>
    </ng-container>
    <ng-template #NoContractors>
      <p>No contractors</p>
    </ng-template>


    <div class=pagination>
      <ngb-pagination [collectionSize]="total | async" [pageSize]="size" [(page)]="page" [boundaryLinks]="true"  [disabled]='isDisabled'  (pageChange)="loadPage($event)" >

        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="mb-3 d-flex flex-nowrap px-2">
              <label
                id="paginationInputLabel"
                for="paginationInput"
                class="col-form-label me-2 ms-1"
              >Page</label>
              <input #i
                     type="text"
                     inputmode="numeric"
                     pattern="[0-9]*"
                     class="form-control custom-pages-input"
                     id="paginationInput"
                     [value]="page"
                     (keyup.enter)="selectPage(i.value)"
                     (blur)="selectPage(i.value)"
                     (input)="formatInput($any($event).target)"
                     aria-labelledby="paginationInputLabel paginationDescription"
                     style="width: 2.5rem"
              />
              <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  of {{pages.length}}</span>
            </div>
          </li>
        </ng-template>
      </ngb-pagination>
      <hr>

      <pre>Current page: {{page}}</pre>
    </div>
  </div>


<app-add-contractor #childAddRef (loadData)="loadData()" ></app-add-contractor>
<app-delete-contractor #childDeleteRef  (loadContractorsData)="loadData()"  [page]="page" [size]="size"  ></app-delete-contractor>
</section>
