.c-icon-box {
  text-align: center;

  &_image {
    display: flex;
    justify-content: center;
    //**najwyższa ikona ma taka wysokość
    height: $grid-base * 6;
    margin-bottom: $grid-base * 2.5;
  }

  &_icon {
    align-self: center;
  }

  &_text {
    font-size: $font-size-6;
    margin-top: $grid-base * 1.5;
  }
}






