@import 'src/styles.scss';
@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';

.fa-splotch_wrap {
  position: relative;
  height: 50px;
  width: 257px;
}


.fa-splotch_wrap :hover .fa-splotch_description {
  visibility: visible;
  opacity: 1;
}



.fa-splotch_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}


td {
  width: 150px;
  min-width: 30px;

}

.table-container {
  width: 700px;
}

table {
  margin-top: $grid-base*3;
  width: auto;

}


.modalbox{
  height: 500px;
  width: 800px;
  bottom: 10%;
  left: 50%;

}


button {
  margin-left: $gutter;
}

