@import 'src/styles.scss';

@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';




.bi {
  background-position: center;
  padding: 5px 5px;
}


#menu {
  display: inline-flex;
}
#menuSelect {
  width: 22px;
}

.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}


#contractorInput {
  display: flex;
  width: 300px;
}

mat-form-field {
  width: 300px;
}


.input-fieldset {
  margin-bottom: $gutter*3;

}


.mat-dialog {
  label {
    font-size: $font-size-5;
    text-transform: uppercase;
    display: block;
  }
}

mat-label {
  font-size: $font-size-5;
  text-transform: uppercase;
  display: block;
}


table td {
  position: relative;
  max-width: 150px;
  min-width: 50px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}
table #td-amount {
    max-width: 50px;
}
.bi-bi-x-circle {
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  color: black;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.button-group {
  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
}

table {
  padding: 2em;
  flex-wrap: wrap;
  margin-top: $grid-base*3;

}


table mat-form-field {
  //max-width: 200px;
}

.numberInput {
  width: 50px;
}



table input.amount,
table input.number {
  width: 50px;
}

#nameId {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;

}

#contractorId {
  display: flex;
  justify-content: flex-start;
}

#dates {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
#payments {
  margin-right: $grid-base*5;
  display: flex;
  justify-content: flex-start;
}

#addressId {
  display: flex;
  justify-content: space-between;
}

.form-control1 {
  width: $gutter*20;
}



.input-group mb-3 {
  margin-bottom: 5px;
}

.custom-modalbox {
  font-size: $font-size-5;
  border: 1px solid #000;
  color: black;
  height: auto;
  width: auto;
  min-width: 800px;
  max-width: 1000px;
  min-height: 400px;
  max-height: 800px;
  background-color: #fff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: $grid-base*4 $grid-base*3 $grid-base*3 $grid-base*3;
  //overflow: scroll;
  overflow-y: visible;





}












