<header class="t-side-header u-bg-light">
  <div class="o-container">
    <div class="bg-primary t-side-header_top">
    <ul class="nav flex-column flex-md-row text-uppercase justify-content-md-center ">
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link" routerLinkActive="active" routerLink="/invoices">Przychody</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link" routerLinkActive="active" routerLink="/contractors">Kontrahenci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link">Produkty</a>
      </li>
    </ul>
  </div>
    <div class="t-side-header_divider">
    </div>

  </div>

</header>
<div class="sk-result-list">
  <div class="sk-result-list-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
</div>
      </div>
    </div>
  </div>
</div>
