<header class="t-side-header u-bg-light">
  <div class="o-container">
    <div class="bg-primary t-side-header_top">
      <div class="o-row o-row--center-y">

      <div class="o-col--lg50">
        <ul class="nav flex-md-row text-uppercase justify-content-md-end">
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link" routerLinkActive="active" routerLink="/strona">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link" routerLinkActive="active" routerLink="/invoices">Przychody</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link" routerLinkActive="active" routerLink="/contractors">Kontrahenci</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white sk-header-item-link">Produkty</a>
      </li>
        </ul>
    </div>
    <div class="o-col--lg50">
      <ul class="nav flex-md-row text-uppercase justify-content-md-end">
    <li class="nav-item">
          <a  routerLink="/login" routerLinkActive="active" class="nav-link text-white sk-header-item-link text-uppercase" *ngIf="!isloggedin" >Sign in</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registration" routerLinkActive="active"  class="nav-link text-white sk-header-item-link text-uppercase" >Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active"  class="nav-link text-white sk-header-item-link text-uppercase"  *ngIf="isloggedin" (click)="logout()">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white sk-header-item-link text-uppercase font-weight-bold" routerLinkActive="active" *ngIf="isloggedin" >{{username}}</a>
        </li>
      </ul>
    </div>

  </div>
    <div class="t-side-header_divider">
    </div>

    </div>


  </div>
</header>


<div class="sk-result-list">
  <div class="sk-result-list-content">
    <div class="container">

        <router-outlet class="settings"></router-outlet>

    </div>
  </div>
</div>

