<section id="invoices"[hidden]="isHidden">

  <div class="sk-sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link sk-header-item-link"  (click)="openDialog('add')">Create an invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link"  (click)="openDialog('edit')">Modify an invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link" (click)="deleteInvoice()">Delete an Invoice</a>
      </li>

      <li class="nav-item">
        <a class="nav-link sk-header-item-link" target="_blank" (click)="openDialog('')">Settle an Invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sk-header-item-link" target="_blank" (click)="printInvoice()">Print an Invoice</a>
      </li>
      <li class="nav-item-settings">
        <a class="nav-link sk-header-item-link" routerLinkActive="active"  routerLink="/settings">Settings</a>
      </li>
    </ul>
  </div>
<div class ="table-container">
  <ng-container *ngIf="invoicesList$ !== null; else noInvoices">
    <p [ngStyle]="{color: getColor()}"></p>
    <table class="table table-striped">
      <thead>
      <tr input class="form-check-input me-1" type="checkbox"
          value="" aria-label="..."  class="table-primary">
        <th scope="row"> # </th>
        <th scope="row">Lp</th>
        <th scope="row">Number of document</th>
        <th scope="row">Contractor</th>
        <th scope="row">Date of invoice</th>
        <th scope="row">Date of payment</th>
        <th scope="row">Paid</th>
        <th scope="row">Amount left to pay</th>
        <th scope="row">Sum total</th>
        <th scope="row">Net amount</th>
        <th scope="row">Gross sum</th>
        <th scope="row">Amount of Vat</th>
        <th scope="row">Method of payment</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let invoice of invoicesList$ | async;let i = index;">

        <input #self class="form-check-input" type="checkbox"
               [value]="invoice.id" id="checkboxIdInput"
               (change)="changeCheckboxList(self)">

        <th scope="row">{{(page-1) * size + i+1}}</th>
        <td>{{invoice.number}}</td>
        <td>{{invoice.contractor.name}}</td>
        <td>{{invoice.dateOfInvoice}}</td>
        <td>{{invoice.dateOfPayment}}</td>
        <td>{{invoice.amountPaid}}</td>
        <td>{{invoice.leftToPay}}</td>
        <td>{{invoice.sumTotal}}</td>
        <td>{{invoice.netAmount}}</td>
        <td>{{invoice.sumTotal}}</td>
        <td>
          {{invoice.amountOfVAT}}
        </td>
        <td>{{invoice.methodOfPayment}}</td>
      </tr>
      </tbody>

    </table>
  </ng-container>

    <ng-template #noInvoices>
    <p>No invoices</p>
  </ng-template>

  <div class=pagination>
    <ngb-pagination [collectionSize]="total | async" [pageSize]="size" [(page)]="page" [boundaryLinks]="true"  [disabled]='isDisabled'  (pageChange)="loadPage($event)" >

      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="mb-3 d-flex flex-nowrap px-2">
            <label
              id="paginationInputLabel"
              for="paginationInput"
              class="col-form-label me-2 ms-1"
            >Page</label>
            <input #i
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   class="form-control custom-pages-input"
                   id="paginationInput"
                   [value]="page"
                   (keyup.enter)="selectPage(i.value)"
                   (blur)="selectPage(i.value)"
                   (input)="formatInput($any($event).target)"
                   aria-labelledby="paginationInputLabel paginationDescription"
                   style="width: 2.5rem"
            />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                  of {{pages.length}}</span>
          </div>
        </li>
      </ng-template>
    </ngb-pagination>
    <hr/>

    <pre>Current page: {{page}}</pre>
  </div>

</div>

<app-add-invoice #childAddRef (loadData)="loadData()" [invoicesList$]="invoicesList$" [checkboxOfInvoice]="checkboxOfInvoice"   ></app-add-invoice>


  <app-settle-invoice #childSettleComponentRef  ></app-settle-invoice>

  <app-delete-invoice #childDeleteRef  (loadInvoiceData)="loadData()" [page]="page" [size]="size"></app-delete-invoice>
  <app-print-invoice #childPrintInvoice ></app-print-invoice>
  <app-invoices-map #childInvoicesMap >    </app-invoices-map>
</section>



