@import 'src/styles.scss';
@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';


.gus-modalbox {
  font-size: $font-size-5;
  border: 1px solid #000;
  color: black;
  height: 400px;
  width: 400px;
  background-color: #fff;
  position: absolute;
  bottom: 40%;
  left: 70%;
  transform: translateX(-50%);
  padding: $grid-base*4 $grid-base*3 $grid-base*3 $grid-base*3;
  overflow: scroll;
}
