
@import 'src/styles.scss';
@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';

.input-label {
  width: 190px;
}
.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

mat-form-field {
  width: 220px;
}

.input-fieldset {
  margin-bottom: $gutter*3;
  margin-right: $gutter*3;
}

.mat-dialog {
  label {
    font-size: $font-size-5;
    text-transform: uppercase;
    display: block;
  }
}

mat-label {
  font-size: $font-size-5;
  text-transform: uppercase;
  display: block;
}

td {
  position: relative;
  width: 30px;
  min-width: 30px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}


.bi-bi-x-circle {
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
  position: absolute;
  color: black;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.c-btn--accent {
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 6px;
  padding-bottom: 7px;
  padding-top: 6px;
  margin-right: $gutter;
}


.button-group {
  text-align: start;
  height: 150px;
  justify-content: end;
  align-items: start;
  margin-bottom: $gutter;
}

table {
  padding: 2em;
  flex-wrap: wrap;
  margin-top: $grid-base*3;
}

#buyerId {
  display: flex;
}

#contractorId {
  display: flex;
  justify-content: flex-start;
}

#dates {
  display: flex;
  justify-content: flex-start;
}
#payments {
  margin-right: $grid-base*5;
  display: flex;
  justify-content: flex-start;
}

#streetId {
  display: flex;

}

#addressId {
  display: flex;

}


.seller-modalbox {
  font-size: $font-size-5;
  border: 1px solid #000;
  color: black;
  height: 500px;
  width: 500px;
  background-color: #fff;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: $grid-base*4 $grid-base*3 $grid-base*3 $grid-base*3;
  overflow: scroll;

}




