@import 'src/styles.scss';
@import 'src/scss/01-settings/_settings.scss';
@import 'src/scss/02-tools/_tools.scss';
@import 'src/scss/03-generic/_generic.scss';
@import 'src/scss/04-elements/_elements.scss';
@import 'src/scss/05-objects/_objects.scss';
@import 'src/scss/06-components/_components.scss';
@import 'src/scss/07-templates/_templates.scss';
@import 'src/scss/08-utilities/_utilities.scss';

.settle-modalbox {
  font-size: $font-size-5;
  border: 1px solid #000;
  color: black;
  height: 500px;
  width: 500px;
  background-color: #fff;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: $grid-base*4 $grid-base*3 $grid-base*3 $grid-base*3;
  overflow: scroll;
}

mat-dialog {
  label {
    font-size: $font-size-5;
    text-transform: uppercase;
    display: block;
  }
}

.input-fieldset {
  margin-bottom: $gutter*3;
  margin-right: $gutter*3;
}

.mat-dialog {
  label {
    font-size: $font-size-5;
    text-transform: uppercase;
    display: block;
    width: 150px;
  }
}

mat-label {
  font-size: $font-size-5;
  text-transform: uppercase;
  display: block;
}

#payments {
  margin-right: $grid-base*5;
  display: flex;
  justify-content: flex-start;
}
